@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');

/* starting app styles */

body {
    background-color: #D6F39B;
    background: url("../images/palm-tree-bg.jpg") no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

#mainBallContainer {
    position: absolute;
    right: 4%;
    bottom: 4%;
    width: 20%;
}

#mainBall {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
}

#mainBall img {
    width: 100%;
    float: right;
}

#mainBall h2 {
    display: block;
    width: 100%;
    position: absolute;
    top: 24%;
    font-size: 7.0vw;
    text-align: center;
}

#adContainer {
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

#adContainer img {
    width: 25%;
}

h2 {
    margin: 0;
    padding: 15px 20px 0 20px;
    color: #006000;
    font-size: 38px;
    font-weight: bolder;
    text-shadow: 2px 2px #fff;
}

h2 span {
    float: right;
    font-size: 50%;
    /*padding-right: 20px;*/
    margin-top: 20px;
    font-family: cursive;
}

#numbersTable {
    background-color: #D6F39B;
    margin: 10px;
    border: 6px double #006000;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 !important;
    padding: 0 !important;
}

td {
    background-clip: padding-box;
    border-radius: 100%;
    background-color: #006000;
    color: #fff;
    border: 5px solid #D6F39B;
    font-size: 220%;
    font-weight: bold;
    padding: 10px;
    margin: 0 !important;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

td:last-child,
td:first-child {
    background-color: #D6F39B;
    color: #5D860C;
    font-size: 260%;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 0;
    /*font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif*/
}

.selectedNumber {
    background-color: #722929;
    color: #FFF;
}

/* ending app styles */